2020_Statistics/
2021_Στατιστικά_Βαθμών/
older_βάσεις/
stats_for field3/
Στατιστικά Βαθμολογιών_2024/
Στατιστικά Βαθμολογιών_2025/
Στατιστικά_Βαθμολογιών_Πανελ._2026/
*2023/
*2022/
.DS_Store
weights/
*.xls
*.xlsx
*.csv
*.php
*.py

# Environments
.env
.env.local
.env.*.local
.env.keys

# Dependencies
node_modules/
dist/
